/* =====================================common css====================================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
img,
div,
p {

    margin: 0;
    padding: 0;
    outline: 0;
}

ul,
ol,
li {
    list-style: none;
}

:root{
    --Poppins--:"Poppins", sans-serif;
    --Manrope--:"Manrope", sans-serif;
    --dark-blue--:#1C1E53;
    --white-color--:#ffffff;
    --blue-color--: #2405f2;
    --black-color--:#282938;
    --primary-font-color:#BBBBCB;
    --secondary-background-color:#F4F6FC;
    --sunshine--:#FCD980;
    --heading-font-size:48px;
    --subheading-font-size:38px;
    --heading-font-weight:600px;
    --paragraph-font-size:16px;
    --primary-font-size:16px;
    --primary-font-weight:500;
    --paragraph-font-weight:600;
    


}

body{
   font-family: var(--Poppins--);
}

/* ==========================navbar css====================================== */

.ourCustomNav{
    background-color: var(--dark-blue--);
    padding: 16px 0;
    
}

.customNavItem{
  margin-right: 32px;

  
}

.customNavItem a{
 color: var(--white-color--);
 transition: all linear .3s;


}

.customNavItem a:hover {
    color: var(--primary-font-color);
}

.custombutton{
    padding: 16px 48px;
    border-radius: 41px;
    border: 2px solid #3d3f6c;
    color: var(--white-color--);
    font-size: var(--primary-font-size);
    font-weight: var(--primary-font-weight);
    background-color:transparent;
    transition: ease-in-out .3s;
    
}

.custombutton:hover{  

  background-color: var(--sunshine--);
  color: black;

    
}

/* ==========================navbar css====================================== */

/* =============================banner css===================================== */
.EarlyStartup{
    padding: 128px 0;
    background-color: var(--dark-blue--);
}

.EarlyStartupLeft{

    display: flex;
    flex-direction: column;
    row-gap: 24px;


}

.EarlyStartupLeft_Title{
  font-family: var(--Poppins--);
  font-weight: 600;
  font-size: 54px;
  line-height: 74px;
  color: var(--white-color--);
  
}

.EarlyStartupLeft_Summary{

  font-family: var(--Poppins--);
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: var(--primary-font-color);
  opacity: 0.7;

}

.Viewourwork{
    

    padding: 16px 56px;
    border-radius: 41px;
    border: 2px solid #3d3f6c;
    color: var(--white-color--);
    font-size: var(--primary-font-size);
    font-weight: var(--primary-font-weight);
    font-family: var(--Manrope--);
    background-color:transparent;
    transition: ease-in-out .3s;
  

}


.Viewourwork:hover{
    color: black;
    background-color: var(--sunshine--);
}
.ViewPricing{
    
    padding: 16px 48px;
    font-family: var(--Poppins--);
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: var(--primary-font-color);
    background-color: transparent;
    border: 2px solid #3d3f6c;
    border-radius: 41px;
    
  

}

.ViewPricing:hover{

    color: var(--sunshine--);
  
}



/* =============================banner css===================================== */

/* =============================how we work css=============================== */

.HowWeWork{

    padding: 128px 0;
    background-color: var(--secondary-background-color);
}

.HowWeWorkLeft{  

    display: flex;
    flex-direction: column;
    row-gap: 24px;

}

.HowWeWorkLeft_Title{

    font-family: var(--Poppins--);
    font-weight: 600;
    font-size: 48px;
    line-height:64px;
    color: black;
  

}

.HowWeWork_Summary{

    font-family: var(--Poppins--);
    font-weight: 400;
    font-size: 16px;
    line-height:28px;
    color: #282938;
  

}



.HowWeWorkRight{

    display: flex;
    flex-direction: column;
    row-gap: 8px;

}

.HowWeWorkRight_title{
    font-family: var(--Poppins--);
    font-weight: 600;
    font-size: 38px;
    line-height:64px;
    color: black;
}

.HowWeWorkRight_summary{

    font-family: var(--Poppins--);
    font-weight: 400;
    font-size: 16px;
    line-height:28px;
    color: #282938;

}


.IconHeadingSummary{
    display: flex;
    flex-direction: column;
    row-gap: 48px;
}
/* =============================how we work css=============================== */

/* ===============================project css================================================= */

.ViewOurProject{
    padding: 128px 0;
    background-color: var(--white-color--);
}

.ViewOurProjectTitle{
    font-family: var(--Poppins--);
    font-weight: var(--heading-font-weight);
    font-size: var(--heading-font-size);
    color: var(--black-color--);
    text-transform: capitalize;

}

.ViewOurProject_Link{
  color: var(--black-color--);
}
/* ===============================project css================================================= */

.ViewOurProjectImageWrapper{
    padding: 64px 0;
}

.overlay{ 

    position: absolute;
    height: 100%;
    width:45%;
    transition: all linear .6s;
    background-image: linear-gradient(342deg,rgb(28, 30, 83)-41%,rgb(28, 30, 83,0.42)); 
    top:0px;
    left:-60px;
    opacity: 0;  
    

}

   .img--2{
     width:64%;
   }
  .ViewOurProjectImage:hover .overlay{
    left:0;
    top:0;
    opacity: 1;
  }
   

.overlayWrapper{
  
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: start;
    height: 100%;
    justify-content: flex-end;
    padding-left: 48px;
    padding-bottom: 76px;

}

.overlay_wrapper_title{  
    font-family: var(--Poppins--);
    font-weight:600;
    font-size: 24px;
    line-height: 36px;
    color:var(--white-color--);


}


.overlay_wrapper_summary{  

    font-family: var(--Poppins--);
    font-weight:500;
    font-size: 16px;
    line-height: 28px;
    color:var(--primary-font-color);



}

.project--link{
    color:var(--sunshine--);
}

.ViewOurProjectImage:hover .overlay{
    left:0;
    top:0;
    opacity: 1;
 }

 /* ===============================project css================================================= */

.DesignSection{
    padding: 171px 0 0 495px;
    background-color: var(--secondary-background-color);
}

.DesignCards{
    padding: 100px 0;
    background-color: var(--secondary-background-color);
}
.DesignTop{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
     align-items: center;
    
}

.DesignSectionTitle{

    font-family: var(--Poppins--);
    font-weight: 600;
    font-size: 48px;
    line-height:64px;
    color: black;
  

    
}
.DesignSectionLink{
  color: var(--black-color--);
}


.DesignCardWrapper{
    display: flex;
    flex-direction: column;
    padding: 48px ;
    row-gap: 15px;
    background-color:var(--white-color--);
}
.DesignCardTitle{

    font-family: var(--Poppins--);
    font-weight: 500;
    font-size: 24px;
    line-height:36px;
    color:var(--black-color--);
  

}

.DesignCardSummary{
    font-family: var(--Poppins--);
    font-weight: 400;
    font-size: 16px;
    line-height:28px;
    color: var(--primary-font-color);

}

.DesignCardsTop{
 
    margin-top: 44px;
}



 /* ===============================project css================================================= */

 /* =============================== about us css====================================================== */
 .Aboutus{

    padding: 128px 0;
    background-color: var(--white-color--);
 }

 .AboutusLeftWrapper{
   display: flex;
   flex-direction: column;
   row-gap: 16px;
 }

 .AboutusRightWrapper{

    display: flex;
    flex-direction: column;
    row-gap: 48px;

 }
 

 .AboutusBottomWrapper{
    display: flex;
    flex-direction:row;
    column-gap: 14px;
 }
 
 .HeadingAndTextWrapper{

    display: flex;
    flex-direction: column;
    row-gap: 24px;

 }


 
 /* =============================== about us css====================================================== */

 /* ====================================FAQ css===================================================== */

 .FAQ{
    background-color: var(--white-color--);
    padding: 128px 0;
}

.FAQ__Number{
    font-size: 28px;
    font-weight: 500;
    vertical-align: middle;
    line-height: 28px;
    font-family: var(--popins);
    color: #2405F2;
    padding-right:60px;
}

 
.FAQLeft__title{
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    font-family: var(--popins);
    color: var(--primary_font_color);
}
.FAQLeft__Link{
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    font-family: var(--popins);
    color: #2405F2;
}
.FAQLeft{ 
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.accordion-body {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    font-family: var(--popins);
    color: var(--primary_font_color);
    /* padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x); */
    padding-left: 105px;
}

.accordion-button:not(.collapsed) {
    color: var(--primary-font-color);
    background-color: transparent;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);

}
.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color:var(--primary_font_color);
    color: var(--bs-accordion-btn-color);
    text-align: left;
    background-color: var(--bs-accordion-btn-bg);
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
}
.accordion-item {
    color: var(--bs-accordion-color);
    background-color: var(--bs-accordion-bg);
    border: none;
}
.accordion-button:not(.collapsed)::after {
    background-image:url(../images/cross.png);
    transform:var(--bs-accordion-btn-icon-transform);
}
.accordion-button::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-image: url(../images/plus.png);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
}
/* ==================================faq css========================================= */


.EarlyStartUp{

    padding: 128px ;
    background-color: var(--white-color--);

}
.EarlyStartUpLeft__OverlayForText{
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    padding-left: 96px;
    padding-top: 96px;
    
}

.EarlyStartUpLeft__OverlayForTextTitle{
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
    color: var(--white-color--);
    font-family: var(--popins);
   
}

.EarlyStartUpLeft__OverlayForTextSummary{
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    font-family: var(--popins);
    color: var(--white-color--);
    opacity: 0.7;
}
.EarlyStartUpRight{
    width: 100%;
    height: 100%;
    background-color: var(--dark-blue--);
    padding-left:96px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
   
    padding-top:96px;

}

.EarlyStartUpRight__Title{
    font-size: 32px;
    font-family: 500;
    line-height: 48px;
    font-family: var(--popins);
    color: var(--white-color--);
}

.EarlyStartUpRight__Summary{
    font-size: 16px;
    font-family: 500;
    line-height: 28px;
    font-family: var(--popins);
    color: var(--white-color--);
}
.Form{

    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding-top: 40px;
}

.EarlyStartUpRight__Button{
    width: 432px;
    height: 64px;
    background-color: var(--sunshine--);
    border-radius: 41px;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    color: var(--black-color--);
    font-family: var(--popins);
    padding-top: 10px;
}

.EarlyStartUpRight__Button:hover{
    background-color: transparent;
    color: var(--white_color);
    border: 4px solid #474975;

}


.EarlyStartUpRightButton__Link{
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    font-family: var(--popins);
    color: var(--white_color);
    padding-left: 100px;
}

.EarlyStartUp__OverlayMainFull{
    width: 100%;
    height: 100%; 
    background: linear-gradient(rgba(28, 30, 83, 0.475),rgba(62, 66, 185, 0.159));
    position: absolute;
    top: 0;
    left: 0;
    transition: ease-in-out .6s;
    opacity: 1;
}

.name{
    background-color: transparent;
    border: 4px solid #27295ceb;
    border-radius: 8px;
    width: 432px;
    height: 64px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    font-family: var(--popins);
    color: #F4F6FC;
    padding-left: 20px;
    
}

.EarlyStartUpContentWrapper:hover .EarlyStartUp__OverlayMainFull{
    top: -100%;
    opacity: 0;
}

/* ==================================our blog==================================================== */

.OurBlog{
  padding: 128px 0;
  background-color: var(--white-color--);
}
.OurBlogCard{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.OurBlogHeading{
    padding-bottom: 64px;
    font-family: var(--Poppins--);
    font-weight: 500;
    font-size: 38px;
    line-height:64px;
    color: black;
}
.OurBlogCardHeading{
    font-family: var(--Poppins--);
    font-weight: 500;
    font-size: 16px;
    line-height:28px;
    color: var(--primary-font-color);

}

.OurBlogCardSummary{
    font-family: var(--Poppins--);
    font-weight: 500;
    font-size: 24px;
    line-height:36px;
    color: var(--black-color--);

}

.Read--more{
    color: var(--black-color--);
}

.OurBlogCardText{
    font-family: var(--Poppins--);
    font-weight: 500;
    font-size: 16px;
    line-height:28px;
    color: var(--primary-font-color);

}
.OurBlogCardWrapper{
    display: flex;
    justify-content: space-between;
}
/* ==================================our blog==================================================== */


/*===============Footer CSS============= */
.Footer{
    background-color: var(--dark-blue--);
    padding-top: 128px;
}
.FooterTopLeft__Title{
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    font-family: var(--popins);
    color:var(--white-color--);
}
.FooterTopLeft{
    row-gap: 22px;
}
.FooterTopRight__Title{
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    font-family: var(--popins);
    color:var(--white-color--);
}
.FooterTopRight__Summary{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    font-family: var(--popins);
    color: #F4F6FC;
}
.FooterTopRight__Logo{
    display: flex;
    column-gap: 27px;
}
.FooterTopRight{
    row-gap: 18px;
}
.FooterWrapper{
    display: flex;
    column-gap: 260px;
}
i[class="fa-brands fa-facebook fa-beat"],
i[class="fa-brands fa-twitter fa-beat"],
i[class="fa-brands fa-instagram fa-beat"],
i[class="fa-brands fa-linkedin fa-beat"]
{   
    
    color: var(--white-color--);
    padding-top: 12px;
}
.FooterBottomWrapper{
    background-color: var(--sunshine--);
    display: flex;
    column-gap: 29px;
    padding-left: 27px;
    padding-top: 18px;
    padding-bottom: 16px;
    
}
.FooterBottomWrapper__EmailTitle{
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    font-family: var(--popins);
    color: var(--primary-font-color);
}
.FooterBottomWrapper__Email{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    font-family: var(--popins);
    color: var(--primary-font-color);
    opacity: 0.7;
}
/*===============Footer CSS============= */
/*===============CopyRight CSS============= */
.CopyRight{
    padding: 22px 0;
    background-color: var(--white-color--);
}

.CopyRightLeft{
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    font-family: var(--popins);
    color: var(--black-color--);
}
.CopyRightItem{
    padding-left: 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    font-family: var(--popins);
    color:var(--black-color--);
    
}
.CopyRightItem:hover{
    color: var(--sunshine--);
}
/*===============CopyRight CSS============= */


